{% extends "base.html" %}

{% block page_title %}
    Home
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="flex justify-center flex-wrap">
            {% if board == "notice" %}
                <a href="{% url 'posts:notice' %}"><span class="boards_list"><i class="fas fa-bullhorn bg-mint"></i>공지</span></a>
            {% else %}
                <a href="{% url 'posts:notice' %}"><span class="boards_list"><i class="fas fa-bullhorn bg-gray-400"></i>공지</span></a>
            {% endif %}

            {% if board == "free" %}
                <a href="{% url 'posts:free' %}"><span class="boards_list"><i class="fas fa-user-friends bg-mint"></i>자유게시판</span></a>
            {% else %}
                <a href="{% url 'posts:free' %}"><span class="boards_list"><i class="fas fa-user-friends bg-gray-400"></i>자유게시판</span></a>
            {% endif %}

            {% if board == "anon" %}
                <a href="{% url 'posts:anon' %}"><span class="boards_list"><i class="fas fa-shoe-prints bg-mint"></i>익명게시판</span></a>
            {% else %}
                <a href="{% url 'posts:anon' %}"><span class="boards_list"><i class="fas fa-shoe-prints bg-gray-400"></i>익명게시판</span></a>
            {% endif %}



        </div>
        <form method="get" action="{% url 'posts:search' %}">
            <input value="{{ title }}" name="title" placeholder="Search by title!"/>
        </form>
        {% for post in posts %}
            <h3>
                {% if post.like_sum >= 4 %}
                    <b><a href="{% url "posts:detail" post.pk %}"> {{ post.title }}</a></b>
                {% elif post.like_sum <= -4 %}
                    <del><a href="{% url "posts:detail" post.pk %}"> {{ post.title }}</a></del>
                {% else %}
                    <a href="{% url "posts:detail" post.pk %}"> {{ post.title }}</a>
                {% endif %}

                글쓴이 {{ post.user }}
                추천 {{ post.like_sum }}
                댓글 {{ post.comments.count }}
                조회수 {{ post.view_count }}

                {% if post in request.user.like_posts.all %}
                    내가 추천한 글!
                {% endif %}
                {% if post.user == request.user %}
                    내가 쓴 글!
                {% endif %}
                {% if today|date:"ymd" == post.created|date:"ymd" %}
                    NEW!!
                {% endif %}
            </h3>
        {% endfor %}

        <h5>
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Next</a>
            {% endif %}
        </h5>
     {% else %}
        <a href="{% url 'users:login' %}">내용을 보려면 로그인</a>
    {% endif %}
{% endblock content %}

