{% extends "base.html" %}
{% load static %}

{% block page_title %}
    Home
{% endblock %}

{% block content %}

    <div class="flex flex-wrap justify-center">
        <div class="xl:w-8/12 max-w-3xl md:w-full">
            {% for user in users %}
                <div class="flex flex-wrap justify-around m-4 p-4 rounded shadow items-center bg-gray-50">
                    {% if user.avatar != '' %}
                        {# <div class="w-9 h-12 bg-cover bg-center" style="background-image: url(media/{{ user.avatar }})"></div> #}
                        <img style="width: 120px; height: 120px;"  src="{{ user.avatar.url }}" class="object-cover object-center rounded-full shadow shadow-xl"/>
                    {% else %}
                        <img style="width: 120px; height: 120px;" src="{% static 'img/blank_profile.png' %}" class="object-cover object-center rounded-full shadow shadow-xl"/>
                    {% endif %}

                    <div class="flex flex-col w-full px-4 max-w-lg">
                        <a href="{% url "users:detail" user.pk %}" class="flex flex-col font-medium pb-2">
                            <span>{{ user.last_name }}{{ user.first_name }}</span>
                            <span>{{ user.username }} ></span>
                        </a>

                        <p class="italic">{{ user.bio }}</p>
                        {% if user.is_soldier == True and user.mil_start != None and user.mil_fin != None %}
                            <p class="text-sm font-light">
                                🪖군 복무 중 {{ user.mil_start|date:'Y.m.d' }} ~ {{ user.mil_fin|date:'Y.m.d' }}<br>
                                전역까지 {{ user.mil_fin|timeuntil }} (D-{{ user.mil_left_date }})
                            </p>

                            <p class="text-xs font-light">{{ user.mil_percentage }}% 수료</p>
                            <svg viewBox="0 0 100 2" xmlns="http://www.w3.org/2000/svg">
                                <!-- No dashes nor gaps -->
                                <line x1="0" y1="1" x2="100" y2="1" stroke="lightgray"/>
                                <line x1="0" y1="1" x2="{{ user.mil_percentage }}" y2="1" stroke="rgb(23, 168, 201)"/>
                            </svg>

                        {% endif %}
                        {% if user.homepage != None %}
                            <a href={{ user.homepage }}>HomePage ></a>
                        {% endif %}
                        {% if user.blog != None %}
                            <a href={{ user.blog }}>Blog ></a>
                        {% endif %}

                        {% if user.birthdate|date:"md" == today|date:"md" %}
                            <b>🥳 오늘 생일 🎂</b>
                        {% endif %}
                    </div>

                    {% comment %}
                        // {% now "md" %}
                        {% if date_created|date:"YmdHis" < now|date:"YmdHis" %}
                        {% endif %}
                    {% endcomment %}
                </div>

            {% endfor %}
        </div>


        <div class="max-w-full w-full xl:w-80 sm:w-full">
            {% if user.is_authenticated %}
                    <div class="m-4 p-4 rounded shadow bg-gray-50">

                        <p class="font-medium text-lg pb-2">Notifications</p>
                        {% for post in recent_posts %}
                            <div class="flex items-center pb-1">

                                {# Post 이름, 좋아요/댓글 개수 #}
                                <p class="flex items-center justify-between w-full">
                                    <a href="{% url "posts:detail" post.pk %}" class="text-sm">
                                        <span class="block truncate">{{ post.title | truncatechars:18 }}</span>
                                    </a>
                                </p>
                                <span class="text-mint font-medium text-sm flex items-center w-16 justify-between">
                                        <i class="fas fa-arrows-alt-v"></i>
                                        {{ post.like_sum }}
                                        <i class="fas fa-comment"></i>
                                        {{ post.comments.count }}
                                </span>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="m-4 p-4 rounded shadow bg-gray-50">

                        <p class="font-medium text-lg pb-2">Recent Posts</p>
                        {% for post in recent_posts %}
                            <div class="flex items-center pb-1">

                                {# Post 이름, 좋아요/댓글 개수 #}
                                <p class="flex items-center justify-between w-full">
                                    <a href="{% url "posts:detail" post.pk %}" class="text-sm">
                                        <span class="block truncate">{{ post.title | truncatechars:18 }}</span>
                                    </a>
                                </p>
                                <span class="text-mint font-medium text-sm flex items-center w-16 justify-between">
                                        <i class="fas fa-arrows-alt-v"></i>
                                        {{ post.like_sum }}
                                        <i class="fas fa-comment"></i>
                                        {{ post.comments.count }}
                                </span>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="m-4 p-4 rounded shadow bg-gray-50">

                        <p class="font-medium text-lg pb-2">Trending Posts</p>
                        {% for post in trending_posts %}
                            <div class="flex items-center pb-1">

                                {# Post 이름, 좋아요/댓글 개수 #}
                                <p class="flex items-center justify-between w-full">
                                    <a href="{% url "posts:detail" post.pk %}" class="text-sm">
                                        <span class="block truncate">{{ post.title | truncatechars:18 }}</span>
                                    </a>
                                </p>
                                <span class="text-mint font-medium text-sm flex items-center w-16 justify-between">
                                        <i class="fas fa-arrows-alt-v"></i>
                                        {{ post.like_sum }}
                                        <i class="fas fa-comment"></i>
                                        {{ post.comments.count }}
                                </span>
                            </div>
                        {% endfor %}
                    </div>

            {% endif %}
        </div>
    </div>

{% endblock content %}

