{% extends "base.html" %}

{% block page_title %}
    Home
{% endblock %}

{% block content %}
    {% for user in users %}
        <div>
            <img style="width: 100px; height: 130px;" src="media/{{ user.avatar }}"/>

            <a href="{% url "users:detail" user.pk %}">
                {{ user.username }} >
                {{ user.last_name }}{{ user.first_name }}
            </a>

            {{ user.bio }}
            {% if user.is_soldier == True and user.mil_start != None and user.mil_fin != None %}
                🪖군 복무 중
                <div>
                    {{ user.mil_start|date:'입영일 Y.m.d' }}
                    {{ user.mil_fin|date:'전역일 Y.m.d' }}
                    전역까지 {{ user.mil_fin|timeuntil }}
                    (D-{{ user.mil_left_date }})
                    {{ user.mil_percentage }}% 수료.
                    <svg viewBox="0 0 100 3" xmlns="http://www.w3.org/2000/svg">
                        <!-- No dashes nor gaps -->
                        <line x1="0" y1="1" x2="100" y2="1" stroke="black"/>
                        <line x1="0" y1="1" x2="{{ user.mil_percentage }}" y2="1" stroke="green"/>
                    </svg>
                </div>
            {% endif %}
            {% if user.homepage != None %}
                <a href={{ user.homepage }}>HomePage ></a>
            {% endif %}
            {% if user.blog != None %}
                <a href={{ user.blog }}>Blog ></a>
            {% endif %}



            {% if user.birthdate|date:"md" == today|date:"md" %}
                <b>🥳 오늘 생일 🎂</b>
            {% endif %}

            {% comment %}
                // {% now "md" %}
                {% if date_created|date:"YmdHis" < now|date:"YmdHis" %}
                {% endif %}
            {% endcomment %}


        </div>
    {% endfor %}

    <div>
        {{ request.user }}
        <h3>Recent Posts</h3>
        {% for post in recent_posts %}

            <li><a href="{% url "posts:detail" post.pk %}">{{ post.title }} 추천{{ post.like_sum }} 댓글{{ post.comments.count }}</a></li>

            {%  if post.like_sum >= 10 %}
                WOW!
            {% elif post.like_sum <= -10 %}
                So Sad...
            {% else %}
                NORMAL!
            {%  endif %}

            {% if post in request.user.like_posts.all %}
                내가 추천한 글!
            {% endif %}
            {% if post.user == request.user %}
                내가 쓴 글!
            {% endif %}
            {%  if today|date:"ymd" == post.created|date:"ymd"  %}
                NEW!!
            {% endif %}
        {% endfor %}
        {{ request.user }}

        <h3>Trending Posts</h3>
        {% for post in trending_posts %}
            <li><a href="{% url "posts:detail" post.pk %}">{{ post.title }}  추천{{ post.like_sum }} 댓글{{ post.comments.count }}</a></li>
        {% endfor %}

    </div>
{% endblock content %}

